body {
    
    width: 100%;
    margin: 0;
    background-image : url("bckgr2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}




.demo_wrap{
	position: relative;
    background: #5C97FF;
    overflow: hidden;
    padding-right: 10%;
    padding-left: 10%; 
}

.demo_wrap h1 {
    padding: 50px;
    position: relative;
    z-index: 2;
}

.demo_wrap:before{
	content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 80%;
    height: 100%;
    z-index: 1;
    opacity: 0.6;
    background-image: url('https://assets.digitalocean.com/labs/images/community_bg.png');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    padding-right: 20%;
    padding-left: 20%; 

}


div.secondary_field{
    margin-left: 10%;
    margin-right: 10%;
    background-color: #2b2d2f;  
    color: #ddd;
    padding-left: 5%;
    padding-right: 5%;

}

.h1_bckgr{
    background-image: linear-gradient(to top, rgba(0,0,0, 0.6), rgba(34,132,206, 0.6)), url('secondary_bckgr.jpg');
    background-size: cover;
    margin-left: 10%;
    margin-right: 10%;
}

h1{
    font-family: "Courier New";
    text-align: center;
    padding-bottom: 50px;
}

h1 > a{
    color: #E3E8EC;
    background-color: #7B89EE;
    text-align: center;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-size: 25px;
    border-radius: 4px;
}

#h1_title{
    padding-top: 60px;
    padding-bottom: 10px;
    font-size: 60px;

}

#h1_text{
    padding: 20px 50px 40px 50px; 
    font-size: 20px;
}





